NODE_ENV=

DATABASE_URL= "development" or "production"

ACCESS_TOKEN_SECRET=your-super-secret-key
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_SECRET=your-super-secret-refresh-key
REFRESH_EXPIRES_IN=30d

CLIENT_URL= http://localhost:3000